<h1>Users#index TEST</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", new_user_session_path, method: :get %>
<% end %>
